
<%= image_tag 'cafezinho/expresso64.png', :align => 'left', :style => 'margin: 0 20px;' %>

<h2>Cafézinho</h2>

<p><strong>Track you coffee intake</strong></p>

<p>Login with your Manybots account to start tracking your coffee intake with Cafézinho.</p>

<p style="padding: 20px 0; margin-left: 100px;"><%= link_to 'Login with Manybots', '/users/auth/manybots', class: 'btn success' %></p>

<p style="text-align:center; margin-top: 69px;">Developed by and for <a href="https://www.manybots.com">Manybots</a></p>

